tensorflow-gpu==2.9.1
numpy==1.23.1
pandas==1.4.3
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
matplotlib==3.5.2
tifffile==2021.4.8
tqdm==4.64.0
batchgenerators==0.24
pyyaml==6.0
tensorflow-addons==0.17.1
wandb==0.13.1
zetastitcher==0.7.0.post1
prefetch_generator==1.0.1
pyclesperanto_prototype==0.18.2
pyvista==0.36.1
pymeshfix==0.16.1