tensorflow-gpu==2.9.0
numpy==1.22.4
pandas==1.4.2
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
matplotlib==3.5.2
tifffile==2022.5.4
tqdm==4.64.0
batchgenerators==0.21
pyyaml==6.0
tensorflow-addons==0.16.1
wandb==0.12.17
zetastitcher==0.6.0
prefetch_generator==1.0.1