tensorflow-gpu==2.5.0
numpy==1.19.5
pandas==1.2.4
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
matplotlib==3.4.2
tifffile==2021.4.8
tqdm==4.60.0
batchgenerators==0.21
pyyaml==5.4.1
tensorflow-addons==0.13.0
